@font-face {
  font-family: henrietta;
  src: url('../fonts/henrietta-light.woff2') format('woff2'),
       url('../fonts/henrietta-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: henrietta-condensed;
  src: url('../fonts/henriettacondensed-regular.woff2') format('woff2'),
       url('../fonts/henriettacondensed-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: neue-montreal;
  src: url('../fonts/neuemontreal-regular.woff2') format('woff2'),
       url('../fonts/neuemontreal-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}