:root {
  --black: #131415;
  --white: #fff;
  --blue: #cee8ef;
  --yellow: #f3b955;
  --light-yellow: #f4d682;
  --serif-font: henrietta, serif;
  --headline-font: henrietta-condensed, serif;
  --base-font: neue-montreal, sans-serif;
  --border-width: 3px;
  --marquee-height: 8vh;
}
