@import 'variables';
@import 'fonts';
@import 'transitions';

main {
  color: var(--black);
  background: var(--black);
  --main-padding: 2rem;
  font-family: var(--base-font);
}

.base-level {
  position: relative;
  z-index: 1;
}

.icon {
  height: 1em;
  width: 1em;
}

button {
  appearance: none;
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
}

.rough-annotation path {
  mix-blend-mode: multiply;
}

@include media-breakpoint-down(sm) {
  main {
    --main-padding: 1.5rem;
  }

  br.optional {
    display: none;
  }
}
